body{
    background-color: rgb(73, 99, 77);
    font-family: verdana, sans-serif;
    border-radius: 8px;
}

.contact-us{
    background-color: rgb(119, 151, 125);
    font-size: 110%;
    border-radius: 8px;
    color: rgb(29, 39, 30); 
    text-align: left;
    margin: auto;
    padding: 10px;
}


h1{
    background-color: rgb(119, 151, 125);
    font-size: 400%;
    border-radius: 8px;
    color: rgb(29, 39, 30) 
}

h2{
    background-color: rgb(119, 151, 125);
    font-size: 200%;
    border-radius: 4px;
    color: rgb(29, 39, 30) 

}

p{
    background-color: rgb(119, 151, 125);
    font-size: 200%;
    color: rgb(29, 39, 30)
}

.topnav{
    background-color: rgb(26, 47, 28);
    overflow: hidden;
    border-bottom: 8px solid rgb(18, 31, 19);
    border-radius: 4px;
}

.topnav a{
    float: left;
    color: rgb(119, 151, 125);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
  background-color: rgb(63, 102, 70);
  color: black;
}

.login{
    background-color: rgb(119, 151, 125);
    font-size: 150%;
    border-radius: 8px;
    color: rgb(29, 39, 30); 
    text-align: center;
    max-width: 400px;
    min-width: max-content;
    margin: auto;
}

.signup{
    background-color: rgb(119, 151, 125);
    font-size: 125%;
    border-radius: 8px;
    max-width: 400px;
    min-width: max-content;
    color: rgb(29, 39, 30);
    text-align: center;
    margin: auto;
}

.signup a{
    color: rgb(29, 39, 30);
    font-weight: bold;
    text-decoration: underline;
    font-size: 130%;
}

form{
    background-color: rgb(119, 151, 125);
    align-self: auto;
    font-size: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 8px;
    box-sizing: border-box;
    color: rgb(29, 39, 30)
}
form input[type=text], input[type=password], input[type=email], input[type=number]{
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button{
    background-color: rgb(73, 99, 77);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form input[type=date]{
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

