body{
    background-color: rgb(73, 99, 77);
    font-family: verdana, sans-serif;
}

h1{
    background-color: rgb(119, 151, 125);
    font-size: 400%;
    color: rgb(29, 39, 30) 
}

p{
    background-color: rgb(119, 151, 125);
    font-size: 200%;
    color: rgb(29, 39, 30)
}

.topnav{
    background-color: rgb(26, 47, 28);
    overflow: hidden;
}

.topnav a{
    float: left;
    color: rgb(119, 151, 125);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
  background-color: rgb(63, 102, 70);
  color: black;
}